.project-container{
    height: 100%;
    margin-bottom: 6%;
  height: 100% !important;

}
.new-container{
    display: flex;
    flex-direction: row;
    margin: 0 2%;
}
@media screen and (max-width: 780px) {
    .new-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 2% 0;
    }
}