.container-card {
  display: flex;
  flex-wrap: wrap;
  /* height: 600; */
  margin-bottom: 5%;
  border: 2px solid black;
  width: 50%;
}

.card-container {
  max-width: 100%;
  margin: 1% 2%;
  width: 100%;
  border-radius: 5px;
}
.card-img{
  width: 100%;
}
.project-img {
  height: 40%;
  width: 100%;
  object-fit: fill;
}

.card-content {
  width: 50%;
}
/* style={{display:'flex',justifyContent:'flex-end'}} */
.card-content-title > h3 {
  font-size: 20px;
  font-weight: 700;
  color: rgb(49, 65, 95);
}
.card-author-date {
  display: flex;
  font-size: 12.5px;
  justify-content: space-between;
  font-weight: 500;
  margin-top: 2%;
}
.card-content-description > p {
  font-size: 15px;
  font-weight: 500;
  color: rgb(109, 105, 105);
}
.btn:hover{
  background-color: black;
}
@media screen and (max-width: 780px) {
  .container-card {
    display: flex;
    flex-direction: column;
    margin: 2% 0;
    border-radius:5px ;
   width: 90%;
  }
  .card-container{
    display: flex;
    flex-direction: column !important;
    width: 100%;
  }
  .card-content {
    padding: 1rem;
  }

  .project-img{
    width: 200%;
    object-fit:cover;
  }

}

