*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
}

.logo {
  height: 70px;
  width: 70px;
  border-radius: 100%;
}
.logo-head{
  font-size: 25px;
  color: whitesmoke;
  text-decoration: none;
  list-style: none;

}

.logo-head:hover{
  text-decoration: none;
}
.navlinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* height: 75px; */
  list-style: none;
  width: 75%;
}

.home,
.about,
.projects,
.resume {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 10px;
  margin: 0 2px;
  cursor: pointer;
  list-style: none;
}

.hovEff:hover{
  color: rgb(196, 216, 233);
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.mobile-menu-option{
    display: none;
}

@media screen and (max-width:780px){
    .logo{
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
    }
    .logo-head{
      font-size: 20px;
    }

    .navlinks{
      display: none;
    }
    
    .nav-links-mobile{
      position: absolute;
      display: block;
      list-style: none;
      background-color: #02244b;
      left: 0;
      top: 75px;
      transition: all  0.5s ease-out;
      width: 100%;
    }
    
    .home,
    .about,
    .projects,
    .resume {
      text-align: center;
      display: flex;
      flex-direction: column;
      color: white;
      padding: 32px;
      width: 100%;
      transition: all 0.5s ease;
    }

    .mobile-menu-option{
      display: block;
      position: absolute;
      font-size: 30px;
      color: rgb(6, 47, 182);
      border: none;
      background-color: #e2e5ec;
      outline: none;
      top: 15px;
      right: 25px;
      width: 10%;
      height: auto;
    }
}

